<div class="container" id="game">
  <div >
    <h5>Question {{questionNumber}}/20</h5>
  </div>
  <hr>
  <h3 id="question" class="mt-3">{{question}}</h3>
  <form id="options-form" action="/game/increment" method="get" >
    <hr />
    <ul>
      {{#each options}}
        <li>
          <label>
            <input type="radio" name="option" value="{{@index}}" id="andres" />
            {{this}}
          </label>
        </li>
      {{/each}}

    </ul>
    <hr />
    <button type="submit">Next <img src="./images/next.png" alt="" /></button>
  </form>
</div>