<div class="container" id="game">
  <div> <h5 class="text-right">Timer: 10:00</h5></div>
  <h2 id="question">What is the correct way to write a function in JavaScript?</h2>
  <form id="options-form">
    <hr>
    <ul>
      <li>
        <label>
          <input type="radio" name="option" value="0" />
          Paris
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="option" value="1" />
          London
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="option" value="2" />
          Berlin
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="option" value="3" />
          Rome
        </label>
      </li>
    </ul>
    <hr />
    <button type="submit">Next <img src="./images/next.png" alt=""></button>
  </form>
</div>