<div class="container" id="game">
  <div>
    <h5>Question {{questionNumber}}/20</h5>

  </div>
  <h2 id="question">{{question}}</h2>
  <form id="options-form" action="/game/increment" method="get">
    <hr />
    <ul>
      {{#each options}}

        <li>
          <label>
            <input type="radio" name="option" value="{{@index}}" />
            {{this}}
          </label>
        </li>
      {{/each}}

    </ul>
    <hr />
    <button type="submit">Next <img src="./images/next.png" alt="" /></button>
  </form>
</div>