<div class="container d-flex mt-5" id="home">
  <div class="w-50 m-3">
    <p>
      Welcome to our JavaScript challenge app! We offer fun challenges to help you improve your JavaScript skills, track your progress, and join a community of learners. 
    </p>
    <figure>
      <img src="/images/home.png" class="w-100"/>
    </figure>
  </div>
  <div class="w-50 m-3">
    <h2 class="text-light text-center">TOP 10</h2>
    <table class="table table-bordered table-hover table-custom">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>28</td>
          <td>john.doe@example.com</td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>35</td>
          <td>jane.smith@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>42</td>
          <td>bob.johnson@example.com</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>