<div class="container d-flex mt-5" id="home">
  <div class="w-50 m-3">
    <p>
      Welcome to our JavaScript challenge app! We offer fun challenges to help
      you improve your JavaScript skills, track your progress, and join a
      community of learners.
    </p>
    <figure>
      <img src="/images/home.png" class="w-100" />
    </figure>
  </div>
  <div class="w-50 m-3">
    <h2 class="text-light text-center">TOP 10</h2>
    <table class="table table-bordered table-hover table-custom mt-4">
      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each result}}
          <tr>
            <td>{{pos}}</td>
            <td>{{fullName}}</td>
            <td>{{score}}</td>
          </tr>
        {{/each}}

      </tbody>
    </table>

  </div>
</div>