<div class="container" id="cards">
  <div class="row justify-content-center align-items-center h-25">
    <div class="jumbotron text-center">
      <h1 class="display-4">{{user.fullName}}</h1>
      <hr class="my-2" />
     
        <p class="lead">Last Login: {{user.lastLoggin}}</p>
              <p>Score: {{user.score}}</p>
     
    </div>
    <div class="">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="toolbar">
  <div class="container">
    <form method="post">

      <input type="submit" value="Delete my account" />
    </form>
  </div>
</div>